.portfolio-container a {
  padding: 0;
  margin: 0;
}
.portfolio-container a:hover {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.card-body a {
  color: black;
}
.portfolio-container {
  /* width: 100%; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-container {
  margin: 25px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mock-img {
  width: 100%;
  object-fit: scale-down;
}

.desc {
  margin: 10px;
  width: 200px;
  height: 500px;
  padding: 40px;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: #0000004b;
}
.tech-icons {
  width: 60%;
  object-fit: scale-down;
}
