.portfolio-container a {
  padding: 0;
  margin: 0;
}
.portfolio-container a:hover {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.card-body a {
  color: black;
}
.portfolio-container {
  /* width: 100%; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-container {
  margin: 25px;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.link-button {
  margin-right: 15px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 7px -2px #000000;
  box-shadow: 1px 1px 7px -2px #000000;
}
.link-button h3 {
  margin: 0;
  padding: 0;
}
.git-icon {
  /* margin: 5px;
  margin-left: 10px;
  padding: 5px;
  padding-left: 10px; */
  font-size: 35px;
  /* border-left: 1px solid black; */
}

.desc {
  margin: 10px;
  width: 200px;
  height: 500px;
  padding: 40px;
  padding-left: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: #0000004b;
}
.tech-icons {
  /* width: 60%; */
  object-fit: scale-down;
  font-size: 55px;
  margin: 5px;
  padding: 5px;
  /* margin-right: 15px; */
}
.slider-container {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.slick-arrow {
  /* background-color: black; */
  color: black;
}
.slick-next:before,
.slick-prev:before {
  color: black;
}
