body{

	font-family: Montserrat, sans-serif;
}
.navbar{

	padding: 13px;
	padding-right: 25px;
	background-color: black;
	margin-bottom: 0px;
	border-radius: 0px;
	font-family: Montserrat, sans-serif;
}

.navbar-brand{

	font-size: 23px;
}

	

a {
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.container-fluid{

	background-size: cover;
	font-family: Montserrat, sans-serif;
}
.container{

	margin: 0px;
	margin-top: 0px;
	width: 100%;
	padding: 0px;
}
.well-md{
	text-align: justify;
	
}
.img-thumbnail{
	margin-top: 15px;
}
.row .row-skills{

	background-color: black;
}
.row{

	margin: 20px;
}
.bg-1{
	font-family: Montserrat, sans-serif;
	background-color: #efefef;
	margin-left: 38px;
	margin-right: 38px;
	margin-bottom: 25px;
	padding-bottom: 40px;
}

.bg-1 .social{
	font-family: Montserrat, sans-serif;
	margin: 30px;

}
.bg-4{
	background-color: #2f2f2f;
	color: white;
	padding: 25px;
	text-align: center;
}
.bg-4 .foot{

	padding-top: 10px;
}
