ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Container{

	padding-left: 200px;
}
.nameTag{
  background: #4aaaa5;
  color: white;
  margin-left: 180px;
}
.profilePicture{


}