.left-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  /* background-image: url("http://www.walldevil.com/wallpapers/a82/minimal-wallpaper-desktop-minimalist-images.jpg"); */
  /* background: #e9e8e4; */
  background: #ededed;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.about {
  margin-left: 10%;
  margin-right: 5%;
  border-right: 3px solid black;
  -webkit-border-radius: 0 1px 1px 0;
  border-radius: 0 1px 1px 0;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-name {
  font-size: 85px;
  font-family: "Abel", sans-serif;
  line-height: 90px;
}
.about-text {
  font-size: 20px;
  font-family: "Cardo", serif;
}
.right-container {
  background: black;
  margin: 0;
  padding: 0;
  height: 100vh;
  -webkit-box-shadow: -4px 0 20px -2px #000000;
  box-shadow: -4px 0 20px -2px #000000;
}

.image {
  -webkit-box-shadow: 0 0 15px 1px #000000;
  box-shadow: 0 0 15px 1px #000000;
}

.social-row {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 95%;
  transform: translateY(-100%);
  display: inline-block;
  margin-left: 10%;
}

@media only screen and (max-width: 436px) {
  
}