/* .portfolio-container {
  width: 100vw;
  transition: transform 0.5s, opacity 0.5s;
}
.transition-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
} */

.custom-nav {
  background: black;
  height: 65px;
  font-size: 25px;
  font-family: "Exo 2", sans-serif;
  -webkit-box-shadow: 0 4px 10px 0 #000000;
  box-shadow: 0 4px 10px 0 #000000;
  display: flex;
  justify-content: space-around;
}

.custom-nav-link {
  border-left: 1px solid white;
  padding-left: 10px;
}
