/* .portfolio-container {
  width: 100vw;
  transition: transform 0.5s, opacity 0.5s;
}
.transition-appear {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition-leave {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.transition-leave.transition-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
} */

.resume-btn {
  position: fixed;
  background: black;
  font-family: "Cinzel", serif;
  color: white;
  bottom: 5%;
  right: 5%;
  z-index: 1;
}
